body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: coral;
}

main {
    margin: auto;
    width: 60%;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 1em;
    padding: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(253, 108, 55);
    color: white;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 1em;
    margin: 10px;
}

button:hover {
    color: rgb(253, 108, 55);
    background-color: white;
}

.red {
    color: red;
}

.green {
    color: white;
}

